﻿@model BookStore.DO.Entities.User
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container-fluid user ">
    <div class="row ">
        <div class="col-md-8 col-lg-8 ">
            <div class="name">
                <p>@Model.Profile.First_Name</p>
                <p>@Model.Profile.Last_Name</p>
            </div>
            <div class="email">
                <p>@Model.Email</p>
            </div>
        </div>
        <div class="col-md-4 col-lg-4 avatar">
            @if (Model.Profile.Avatar_Url != null)
            {
                <img src="@Url.Content(Model.Profile.Avatar_Url)" alt="Avatar" />
            }
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <div class="accordion" id="accordion2">
                <div class="accordion-group">
                    <div class="accordion-heading">
                        <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion2" href="#collapseOne">
                            Прочитанные книги
                        </a>
                    </div>
                    <div id="collapseOne" class="accordion-body collapse">
                        <div class="accordion-inner">
                            @foreach (var rate in Model.Profile.RatedBooks.Where(x => x.IsSuggestion == false))
                            {
                            <div class="container-fluid">
                                <div class="row">
                                    <div class="col-md-1 rateBook">
                                        <p class="glyphicon glyphicon-heart-empty " aria-hidden="true">@rate.RateValue</p>
                                    </div>
                                    <div class="col-md-11">
                                        @{
                                            Html.RenderPartial("BookHeader", rate.Book.Book);
                                        }
                                    </div>
                                </div>
                            </div>
                            }
                        </div>
                    </div>

                </div>
                <div class="accordion-group">
                    <div class="accordion-heading">
                        <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion2" href="#wishedBooks">
                            Хочу почитать
                        </a>
                    </div>
                    <div id="wishedBooks" class="accordion-body collapse">
                        <div class="accordion-inner">
                            @foreach (var book in Model.Profile.WishedBooks)
                            {
                            <div class="container-fluid">
                                <div class="row">
                                    <div class="col-md-11">
                                        @{ Html.RenderPartial("BookHeader", book.Book); }
                                    </div>
                                </div>
                            </div>
                            }
                        </div>
                    </div>
                </div>
                <div class="accordion-group">
                    <div class="accordion-heading">
                        <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion2" href="#collapseTwo">
                            Любымые авторы
                        </a>
                    </div>
                    <div id="collapseTwo" class="accordion-body collapse">
                        <div class="accordion-inner">
                            <div class="favAvtors">
                                @foreach (var author in @Model.Profile.FavoriteAuthors)
                                    {
                                    <span>
                                        <p>@author.Author.First_Name.Substring(0, 1)</p>
                                        @if (author.Author.Middle_Name != null)
                                            {
                                            <p>@author.Author.Middle_Name.Substring(0, 1)</p>
                                            }
                                        <p>@author.Author.Last_Name</p>
                                    </span>
                                    }
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
