﻿@model BookStore.DO.Entities.Book

@{
    ViewBag.Title = "Create";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}


@using (Html.BeginForm("Create", "Admin", FormMethod.Post, new { @class = "basic-grey" }))
{
    <h1><span>Создать</span></h1>
    <label>
        <span>@Html.DisplayNameFor(x=>x.Title)</span>
        @Html.EditorFor(b => b.Title, new { @class = "single-line" })
    </label>
    <label>
    </label>
    @Html.EditorFor(b => b.BookAuthors, new { @class = "single-line" })
    <label>
        <span>@Html.ActionLink("Назад", "Index", new {@class = "button"})</span>
        <input type="submit" class="button" value="Сохранить"/>
    </label>
    @Html.HiddenFor(x=>x.Book_ID)
    @Html.HiddenFor(x=>x.BookDetail)
}








