﻿body, td {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif; }

h1 {
  padding: 0.5em;
  padding-top: 0;
  font-weight: bold;
  font-size: 1.5em;
  border-bottom: 2px solid gray; }

div.content {
  padding: 0.9em; }
div.Message {
  background: gray;
  color: white;
  padding: 0.2em;
  margin-top: 0.25em; }

form {
  margin-bottom: 0; }

.links a {
  margin-bottom: 10px; }

table.Grid {
  border-collapse: collapse;
  width: 100%; }
  table.Grid td, table.Grid th {
    border-bottom: 1px dotted gray;
    text-align: left; }
    table.Grid td .NumericCol, table.Grid th .NumericCol {
      text-align: right;
      padding-right: 1em; }

.field-validation-error {
  color: red;
  display: block; }

.field-validation-valid {
  display: none; }

.input-validation-error {
  border: 1px solid red;
  background-color: #ffeeee; }

.validation-summary-errors {
  font-weight: bold;
  color: red; }

.validation-summary-valid {
  display: none; }

.editor-field {
  margin-bottom: 0.8em; }

.editor-label {
  font-weight: bold; }

.editor-label:after {
  content: ":"; }

.text-box {
  width: 25em; }

.multi-line {
  height: 5em;
  font-family: Segoe UI, Verdana; }

.search {
  display: inline-flex;
  background-color: gainsboro;
  border-radius: 10px;
  border: thin solid white;
  margin: 15px;
  padding: 10px; }
  .search:hover {
    background-color: ActiveBorder; }
  .search a {
    text-decoration: none; }
  .search .description {
    font-family: 'Book Antiqua';
    font-size: 18px; }

img {
  padding: 10px;
  max-height: 200px;
  width: 140px; }

.basic-grey input[type="text"], .basic-grey input[type="email"], .basic-grey textarea {
  border: 1px solid #dadada;
  color: #888;
  height: 30px;
  margin-bottom: 16px;
  margin-right: 6px;
  margin-top: 2px;
  outline: 0 none;
  padding: 3px 3px 3px 5px;
  width: 70%;
  font-size: 12px;
  line-height: 15px;
  box-shadow: inset 0 1px 4px #ececec; }

.basic-grey {
  margin-left: auto;
  margin-right: auto;
  max-width: 700px;
  background: #f7f7f7;
  padding: 25px 15px 25px 10px;
  font: 12px "Georgia", "Times New Roman", "Times", "serif";
  color: #888;
  text-shadow: 1px 1px 1px #fff;
  border: 1px solid #e4e4e4;
  text-align: center; }
  .basic-grey h1 {
    font-size: 25px;
    padding: 0 40px 10px 40px;
    display: block;
    border-bottom: 1px solid #e4e4e4;
    margin: -10px -15px 30px -10px;
    color: #888; }
    .basic-grey h1 span {
      display: block;
      font-size: 17px; }
  .basic-grey label {
    display: block;
    margin: 0; }
    .basic-grey label span {
      float: left;
      width: 40%;
      text-align: left;
      padding-right: 10px;
      margin-top: 10px;
      color: #888; }
  .basic-grey textarea {
    padding: 5px 3px 3px 5px;
    height: 100px; }
  .basic-grey .button {
    background: #e27575;
    border: none;
    padding: 10px 25px;
    color: #fff;
    box-shadow: 1px 1px 5px #b6b6b6;
    border-radius: 3px;
    text-shadow: 1px 1px 1px #9e3f3f;
    cursor: pointer; }
    .basic-grey .button:hover {
      background: #cf7a7a; }

.annotation {
  text-overflow: ellipsis;
  display: inline-block;
  width: 450px;
  white-space: nowrap;
  overflow: hidden;
  vertical-align: top; }

.ownership-container input {
  margin-bottom: 7px; }

.file {
  margin: 15px;
  background-color: whitesmoke;
  border-radius: 10px;
  border: solid 1px gray;
  display: inline-block;
  text-align: right;
  padding: 5px; }
  .file input {
    margin: 1px;
    display: inline-block !important;
    text-align: right;
    color: InactiveCaptionText; }
  .file button {
    margin: 3px;
    display: inline-block; }

/*# sourceMappingURL=Admin.css.map */