﻿@model BookStore.DO.Entities.Book
<div class="container-fluid ">
    <div class="row bookheader">
        <div class="col-md-1 col-sm-1 smallimage">
            <a href="@Url.Action("BookDetails", "Book", new {bookId = @Model.Book_ID})">
                @if (Model.Image_url != null)
                {
                    <img src="@Url.Content(Model.Image_url)" class="img-thumbnail" alt="images" />
                }
                else
                {
                    <img src="@Url.Content("~/Content/Images/imgBook0.jpg")" class="img-thumbnail" alt="images" />
                }
            </a>
        </div>
        <div class="col-md-11 col-sm-11 ">
            <div class="signature">
                <p class="title">@Model.Title</p>
                @foreach (var author in Model.BookAuthors)
                {
                    <a href="@Url.Action("Index", "Author", new { authorId = author.Author_ID })" class="author">
                        @if (author.First_Name != null)
                        {
                            @author.First_Name.Substring(0, 1);<p>.</p>
                        }
                        @{
                    if (author.Middle_Name != null)
                    {
                        @author.Middle_Name.Substring(0, 1);<p>.</p>
                    }}
                        @author.Last_Name
                    </a>
                }
                @*<p class="glyphicon glyphicon-star rate" aria-hidden="true">@Model.Rating</p>*@

            </div>
            @*<div class="like-rate">
                <p class="price">@Model.BookDetail.Price.ToString("c")</p>
            </div>*@
        </div>

    </div>
</div>
