﻿@model BookStore.Models.BookViewModel
<script src="~/scripts/chart.min.js"></script>
<div class="container-fluid book ">
    <div class="row itemb">
        <div class="col-md-9 col-lg-9 ">
            <p class="title">@Model.Book.Title</p>
            @Html.HiddenFor(x => x.Book.Book_ID, new { id = "thisBookId" })
            @foreach (var author in Model.Book.BookAuthors)
            {
                <a href="@Url.Action("Index", "Author", new {authorId = author.Author_ID})" class="author">
                    @author.First_Name @author.Middle_Name @author.Last_Name
                </a>
            }
            <br />
            <div class="genre">
                @foreach (var genre in Model.Book.BookDetail.Genres)
                {
                    <a href="@Url.Action("ListByGenre", "Book", new { genre = @genre.Genre_Name })">@genre.Genre_Name</a>
                }
            </div>
            <p class="annotation">@Model.Book.BookDetail.Annotation</p>
            <p class="price">@Model.Book.BookDetail.Price.ToString("c")</p>
            <div class="tags">
                <p>Теги:</p>
                @foreach (var tag in @Model.Book.BookDetail.Tages)
                {
                    @Html.ActionLink(tag.Tag_Name, "ListByTag", "Book", new { tagID = tag.Tag_ID }, null)
                }
            </div>
            <br />
            <div class="myRate">
                @{
                    if (Session["UserId"] != null)
                    {
                        Html.RenderAction("BookRating", "Book", new { bookId = @Model.Book.Book_ID });
                    }
                }
            </div>
            <div class="comments">
                <div class="detailBox">
                    <div class="actionBox">
                        <ul class="commentList">
                            @{Html.RenderPartial("GetComment", @Model.Comments);}
                        </ul>
                        <div class="form-group form-input">
                            @{
                                if (Session["UserId"] != null)
                                {
                                    Html.RenderAction("AddComment", "Book", new { bookId = @Model.Book.Book_ID });
                                }
                            }
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-3 col-lg-3 image">
            @if (Model.Book.Image_url != null)
            {
                <img src="@Url.Content(Model.Book.Image_url)" class="img-thumbnail" alt="images" />
            }
            else
            {
                <img src="@Url.Content("~/Content/Images/imgBook0.jpg")" class="img-thumbnail" alt="images" />
            }
            <div class="rates">
                <a href="#">
                    <span class="glyphicon glyphicon-star rate" aria-hidden="true">@Model.AverageMark.ToString("F")</span>
                    <span class="badge glyphicon glyphicon-user g-lg">@Model.RatedUsersCount.ToString("D")</span>
                    <span class="badge glyphicon glyphicon-user g-lg" id="wishedUsers">@Model.WishedUsersCounter.ToString("D")</span>
                </a>
            </div>
            @if (Session["UserId"] != null && !@Model.IsReadedOrWished)
            {<div class="wish">
                <a class="btn btn-primary glyphicon glyphicon-heart" id="wish"> Хочу почитать</a>
            </div>
            }
            @if (Model.Book.BookDetail.ContentUrl != null)
            {<div class="fb2">
                @Html.ActionLink("Читать", "Fb2Text", "Book", new { path = @Model.Book.BookDetail.ContentUrl }, new { @class = "btn glyphicon glyphicon-book" })
                <a class="btn glyphicon glyphicon-download" href="@Url.Content(@Model.Book.BookDetail.ContentUrl)">Скачать</a>
            </div>}
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <div class="statistic">
                <h2>Статистика</h2>
                <canvas id="myChart" width="600" height="400"></canvas>
                <p>Средняя оценка: @Model.AverageMark.ToString("F")</p>
                <p>Всего оценок: @Model.RatedUsersCount.ToString("D")</p>
            </div>
        </div>
    </div>
</div>
